$toolbar-icon-size: 1em;
$base-color: #1985d0;
$confirm-color: #659D32;
$font-family: Helvetica, sans-serif;
$page-bg-color: #1985d0;
$list-active-color: $base-color;
$list-bg-color: $base-color;
$list-color: #fff;
$list-header-bg-color: $base-color;




.contact-name {
    color: #fff ;
    padding-left: 4px;
}

.customfield {
	border:1px outset #eee;
	margin:5px 5px 5px 5px;
	font-size:5vw;
	font-weight:bold;
}


