.favorite {
    border: 1px solid #aaa; 
    padding: 5px; 
    margin: 5px;
    text-align: center;
}

.square {
    border-radius: 0px;
}

.contact-name{
    color:black;
    padding-left: 4px;
}

.x-panel-body{
	
	background: #fff;
}

.checkbox_hidden {
	display:none;
}

.checkbox_visible {
	display:normal;
}



.confirm_button .x-button{
	
	background-color:#ff00ff;
}
